---
import { Image } from 'astro:assets';
import data from '@data';
import footerLogo from '@assets/images/logo_cnsv_footer.png';

const { navegacion, Contact, marca } = data;

// Helper para crear el mailto
const crearMailTo = (correo: string) => `mailto:${correo}`;

// Transformar la data de contacto a un array para mantener la estructura del mapa
const infoContacto = Object.entries(Contact.info).map(([key, info]) => ({
    ...info,
    href: info.esEnlace ? crearMailTo(info.contenido) : undefined
}));
---

<div class="bg-neutral-950 text-neutral-400 text-sm">
    <footer class="font-montserrat py-12" role="contentinfo">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 w-full max-w-7xl">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
                <!-- Sección del Logo y Descripción -->
                <section class="flex flex-col items-center md:items-start">
                    <a href="/" class="mb-4 inline-block" aria-label="Ir a la página de inicio">
                        <Image
                            src={footerLogo}
                            alt={marca.logo.alt}
                            width={96}
                            height={96}
                            class="w-24 h-auto"
                            loading="lazy"
                            format="webp"
                            quality={80}
                        />
                    </a>
                    <p class="text-sm text-center md:text-left lg:pr-16 pr-0">
                        {marca.descripcion}
                    </p>
                </section>

                <!-- Navegación -->
                <nav class="flex justify-center" aria-label="Enlaces del pie de página">
                    <div class="text-center lg:text-left">
                        <h2 class="font-bold mb-4 text-md uppercase">Secciones</h2>
                        <ul class="space-y-2">
                            {navegacion.escritorio.map(({ href, label }) => (
                                <li>
                                    <a 
                                        href={href}
                                        class="relative hover:text-white transition-colors duration-200"
                                    >
                                        {label}
                                    </a>
                                </li>
                            ))}
                        </ul>
                        <div class="mt-6">
                            <h2 class="font-bold mb-4 text-md uppercase">Matrículas</h2>
                            <a
                                href="/admision"
                                class:list={[
                                    'group relative inline-flex items-center px-6 py-2.5 text-sm font-bold border-2 border-white rounded-lg hover:text-gray-800 transition-colors duration-300 overflow-hidden',
                                ]}
                                aria-label="Ir a la página de admisión"
                            >
                                <span class="relative z-10 flex items-center">
                                    ¡Inscríbete ya!
                                    <span class="ml-2 text-sm transition-transform duration-300 group-hover:translate-x-1">
                                        <svg class="w-5 h-5 transition-transform duration-300 group-hover:translate-x-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                                        </svg>
                                    </span>
                                </span>
                                <span class="absolute inset-0 w-full h-full bg-white transform -translate-x-full transition-transform duration-300 group-hover:translate-x-0 origin-left"/>
                            </a>

                        </div>
                    </div>
                </nav>

                <!-- Información de Contacto -->
                <section 
                    class="flex flex-col items-center md:items-start text-center md:text-left" 
                    aria-labelledby="contact-heading"
                >
                    <h2 id="contact-heading" class="font-bold mb-4 text-md uppercase">Contacto</h2>
                    <div class="space-y-5">
                        {infoContacto.map(({ titulo, contenido, esEnlace, href }) => (
                            <div>
                                <h3 class="font-semibold mb-2">{titulo}</h3>
                                {esEnlace ? (
                                    <a 
                                        href={href}
                                        class="hover:text-white transition-colors duration-200"
                                        rel="noopener noreferrer"
                                    >
                                        {contenido}
                                    </a>
                                ) : (
                                    <p class="font-normal">{contenido}</p>
                                )}
                            </div>
                        ))}
                    </div>
                </section>
            </div>
        </div>
    </footer>

    <footer class="font-roboto bg-black py-6" role="contentinfo">
        <div class="container max-w-7xl mx-auto w-full px-4 sm:px-6 lg:px-8">
            <p class="text-center md:text-left text-xs">
                &copy; 2024 CNSV. Todos los derechos reservados.
                <span class="mx-1">Realizado por</span>
                <a 
                    href="https://www.facebook.com/fernando.yoverazavala/" 
                    aria-label="Facebook de Fernando Yoveraz"
                    class="font-semibold hover:text-white transition-colors duration-200" 
                    rel="noopener noreferrer"
                >
                    IntelligenceQB
                </a>
            </p>
        </div>
    </footer>
</div>