---
import Footer from '@components/partials/Footer.astro'
import Header from '@components/partials/Header.astro'
import Analytics from '@vercel/analytics/astro'
import { ClientRouter } from 'astro:transitions'
import data from '@data'
const { app } = data
const {title} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
        
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
        <meta name="keywords" content="educación primaria, educación secundaria, seminario menor, educación religiosa, valores, formación integral, colegio con residencia, colegio internado">
        <meta name="description" content="El Colegio Nuestra Señora del Valle ofrece educación integral, formación en valores y seminario menor en modalidad de residencia. Descubre nuestra propuesta educativa única.">

        <meta property="og:site_name" content="Colegio Nuestra Señora del Valle">
        <meta property="og:type" content="website">
        <link rel="canonical" href={app.url}>
        <meta property="og:url" content={app.url}>
        <meta property="og:title" content="Colegio Nuestra Señora del Valle Seminario Menor">
        <meta property="og:description" content="Brindamos formación académica y valores en un ambiente integral y humano, promoviendo el desarrollo integral de nuestros estudiantes.">
        <meta property="og:image" content={app.imagen}>
        
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Colegio Nuestra Señora del Valle Seminario Menor">
        <meta name="twitter:description" content="Brindamos formación académica y valores en un ambiente integral y humano.">
        <meta name="twitter:image" content={app.imagen}>
        <meta name="google-site-verification" content="CTUjzXD8n1n0Xvwhj5oZoAdzNE3K4VItuzVnuPO3O1I" />
        
        <link rel="sitemap" href="/sitemap-index.xml" />
        <ClientRouter />

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "School",
                "name": "Colegio Nuestra Señora del Valle",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Carretera a Lunahuana km. 8, Apdo. 69, Nuevo Imperial, Peru",
                    "addressLocality": "Nuevo Imperial",
                    "addressRegion": "Cañete",
                    "postalCode": "15723",
                    "addressCountry": "Perú"
                },
                "contactPoint": {
                    "@type": "ContactPoint",
                    "telephone": "+51940768184",
                    "contactType": "Customer Service",
                    "areaServed": "ES",
                    "availableLanguage": "Spanish"
                },
                "url": "https://cnsv-edu.vercel.app/",
                "logo": "https://cnsv-edu.vercel.app/cnsv-social.jpg",
                "sameAs": [
                    "https://www.facebook.com/seminariomenoryauyos"
                ],
                "author": {
                    "@type": "Person",
                    "name": "Yovera Zavala Fernando Cesar",
                    "url": "https://fernando-yovera-zavala.vercel.app/",
                    "sameAs": "https://www.linkedin.com/in/fernando-yovera-zavala-066904283/"
                }
            }
        </script>          

        <title>Colegio Nuestra Señora del Valle - Seminario Menor {title}</title>
    </head>
	<body class="font-montserrat">
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
        <Analytics/>
	</body>
</html>

<style>
    
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-1.woff2') format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-2.woff2') format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-3.woff2') format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-4.woff2') format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-5.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-6.woff2') format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-7.woff2') format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-8.woff2') format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-9.woff2') format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url('../assets/fonts/montserrat-10.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

</style>
